extends layout

block content
	h1 Welcome to Pengu
	p Pengu is a Socket.io HTML5 recreation of Disney's Club Penguin
	p Pengu was made using Node.js, MongoDB and Socket.io 
	h3 Pengu is under development. Please, if you can, read the contribuition guide